body{
    color: black !important;
    font-family: 'Comic Neue', cursive;
}
p{
    color: black !important;
}
a{
    /* color: black !important; */
    text-decoration: none;
    color: white;
}
.menu{
    font-weight: bold;
    font-size: 2rem;
}
.h2{
    font-weight: bold;
    font-size: 1.5rem;
}
div{
    background-color: grey;
}
.navbar{
    margin:0;
    padding: 0;
}
.nav-item{
    text-align: center;
    background-color: white;
    position: relative;
    margin-right: -12px;
    margin-left: -12px;
    font-weight: bold;
    font-size: larger;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 0;
}
.nav-link{
    color: black;
    /* font-family: 'Comic Neue', cursive; */
}
.border-top{
    border-width: 3px !important;
}
.border-bottom{
    border-width: 3px !important;
}
.box{
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip:padding-box;
  }
  
@media screen and (min-width:592px){
    .nav-item{
        visibility:hidden
    }
    .navbar-toggler-icon{
        visibility: hidden;
    }
    .navbar-toggler collapsed{
        visibility: hidden;
    }
}
#outer{
    background-color: white;
}